---
import Layout from "../layouts/Layout.astro";
import ButtonPrimary from "../components/ButtonPrimary.astro";
import ButtonSecondary from "../components/ButtonSecondary.astro";
import Card from "../components/Card.astro";
---

<style>
  .width--b {
    width: 160px;
  }
</style>
<Layout title="Frontend Mentor | Workit landing page">
  <main>
    <section class="hero">
      <img
        class="hero__decoration-1"
        src="/assets/bg-pattern-1.svg"
        alt="imagen decorativa"
      />
      <img
        class="hero__decoration-2"
        src="/assets/bg-pattern-2.svg"
        alt="imagen decorativa"
      />
      <div class="hero-content">
        <h1 class="hero-content__h1">
          Data <span>tailored</span> to your needs.
        </h1>
        <ButtonPrimary href="#" title="Learn more" />
      </div>
      <img
        class="hero__img"
        src="/assets/image-hero.webp"
        alt="Celular portada"
      />
    </section>
    <section class="insights">
      <div class="insights-card-container">
        <Card
          number="1"
          title="Actionable insights"
          body="Optimize your products, improve customer satisfaction and stay ahead of the competition with our product data analytics."
        />
        <Card
          number="2"
          title="Data-driven decisions"
          body="Make data-driven decisions with our product data analytics. Our AI-generated reports help you unlock insights hidden in your product data."
        />
        <Card
          number="3"
          title="Always affordable"
          body="Always affordable pricing that scales with your business. Get top-quality product data analytics services without hidden costs or unexpected fees."
        />
      </div>
    </section>
    <section class="founder">
      <div class="founder-content">
        <img
          class="founder-content__img"
          src="/assets/image-founder.webp"
          alt="Fundador Workit"
        />
        <div class="founder-call-to-action">
          <div class="founder-call-to-action__content">
            <h2 class="founder-call-to-action__h2">Be the first to test</h2>
            <p class="founder-call-to-action__p">
              Hi, I'm Louis Graham, the founder of the company. Book a demo call
              with me to become a beta tester for our app and kickstart your
              company. Apply for access below and I’ll be in touch to schedule a
              call.
            </p>
            <ButtonPrimary href="#" title="Apply for access" />
          </div>
          <img
            class="founder__decoration"
            src="/assets/bg-pattern-3.svg"
            alt="imagen decorativa"
          />
        </div>
      </div>
    </section>
  </main>
</Layout>

<style>
  .hero {
    width: 100vw;
    height: 45.625rem;
    background-image: url("/assets/bg-hero.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;

    .hero__decoration-1,
    .hero__decoration-2 {
      position: absolute;
    }
    .hero__decoration-1 {
      left: -8.6419rem;
      top: 7.2575rem;
    }
    .hero__decoration-2 {
      right: -3rem;
      top: 314.07px;
    }

    .hero-content {
      width: 39.6875rem;
      margin: 9.125rem 0 3.125rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2.3125rem;

      .hero-content__h1 {
        text-align: center;

        & span {
          display: inline-block;
        }

        & span::after {
          content: "";
          display: block;
          width: 100%;
          height: 0.1875rem;
          background-color: var(--eucaplyptus);
        }
      }
    }

    .hero__img {
      width: 47.9375rem;
    }
  }

  .insights {
    height: 60rem;
    background-image: url("/assets/bg-insights.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    margin-top: -14.125rem;
    width: 100vw;
    height: 60rem;
    padding-top: 30.0625rem;
    padding-bottom: 10.6875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .insights-card-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 1.625rem;
    }
  }

  .founder {
    margin-top: 6.875rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    .founder-content {
      width: 69.5rem;
      height: 36.625rem;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;

      .founder-content__img {
        width: 29.7589rem;
      }

      .founder-call-to-action {
        align-self: flex-end;
        margin-left: -95px;
        width: 45.5429rem;
        position: relative;

        .founder-call-to-action__content {
          width: inherit;
          padding: 4rem 3.9925rem;
          background-color: var(--dark-purple);
          display: flex;
          flex-direction: column;
          gap: 2rem;

          .founder-call-to-action__p {
            color: var(--white);
          }
        }

        .founder__decoration {
          position: absolute;
          top: 263px;
          right: 4.5862rem;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .hero {
      height: 33.75rem;

      .hero__decoration-1,
      .hero__decoration-2 {
        position: absolute;
      }
      .hero__decoration-1 {
        left: -14.2044rem;
        top: 4.445rem;
      }
      .hero__decoration-2 {
        right: -5.855rem;
        top: 15.625rem;
      }

      .hero-content {
        width: 35.8125rem;
        margin: 7.625rem 0 3.4375rem;
        gap: 2.4375rem;
        padding: 0 3rem;
      }
      .hero__img {
        width: 32.125rem;
      }
    }

    .insights {
      *height: 57.5rem;
      margin-top: -137px;
      height: 60rem;
      padding: 21.3125rem 0 6.48rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      .insights-card-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 3rem;
      }
    }

    .founder {
      margin-top: 100px;

      .founder-content {
        width: 43.0625rem;
        height: 32.875rem;
        .founder-content__img {
          width: 17.5625rem;
        }

        .founder-call-to-action {
          margin-left: -106px;
          width: 32.125rem;

          .founder-call-to-action__content {
            width: inherit;
            padding: 3.5rem;
            padding-top: 3rem;
            gap: 1.5rem;
          }

          .founder__decoration {
            position: absolute;
            top: 16.8125rem;
            right: 0.7931rem;
          }
        }
      }
    }
  }

  @media (max-width: 375px) {
    .hero {
      height: 30.10669rem;
      width: 100%;

      .hero__decoration-1,
      .hero__decoration-2 {
        display: none;
      }

      .hero-content {
        width: inherit;
        margin: 8.125rem 0 4rem;
        gap: 40px;
        padding: 0;
      }
      .hero__img {
        width: 20rem;
      }
    }

    .insights {
      margin-top: -89px;
      width: 100vw;
      height: auto;
      padding-top: 15.3125rem;
      padding-bottom: 4.4375rem;

      .insights-card-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 2.5rem;
      }
    }

    .founder {
      width: 100%;
      height: auto;

      .founder-content {
        flex-direction: column;
        width: 100%;
        height: auto;

        .founder-content__img {
          width: 100%;
        }

        .founder-call-to-action {
          width: 100%;
          margin-top: -3.5rem;

          .founder-call-to-action__content {
            width: inherit;
            padding: 1.9375rem;
            padding-top: 3rem;
            gap: 0;
            text-align: center;
            align-items: center;

            .founder-call-to-action__p {
              margin: 16px 0 24px;
            }
          }

          .founder__decoration {
            display: none;
          }
        }
      }
    }
  }
</style>
