---
interface Props {
  href: string;
  description: string;
}

const { href, description } = Astro.props;
---

<a class="link-social" href={href} target="_blank" aria-label={description}=>
  <slot />
</a>

<style>
  .link-social {
    display: inline-block;
    width: 1.25rem;
    color: var(--davys-grey);
  }
  .link-social:hover {
    color: var(--dark-purple);
  }
</style>
